.img{
    height: 600px;
    width: 40%;
    text-align: left;
}
.main{
    display: flex;
}
.name{
    text-align: left;
    height: 600px;
width: 40%;
}
.gap{
    height: 600px;
    width: 20%;
}
input{
    width: 50px;
}
BUTTON{
    background-color: rgb(255, 102, 0);
    color: black;
    border-radius: 19px;
    height: 50px;
    width: 100px;
}
a{
    color: #000;
}
.MAIN1{
    display: flex;
    text-align: center;
    align-items: center;
}
.GAP{
    width: 25px;    
}
.m1{
    display: flex;
}
.gap{
   width: 180px;
}
.GAP1{
    width: 450PX;
    border-radius: 12PX;
    border-color: #0003;
}
.h{
    text-align: center;
}